.Header-Cont {
  width: 100%;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  border:2px solid var(--second-bg);
  border-radius: 20px;
  background-color: var(--second-color);
  margin-top: 20px;
}

.Info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.Job{
  font-size: 1rem;
}
.Job h2{
  color: #666;
}

.Available {
  display: flex;
  align-items: center;
  font-size: .8rem;
  border: 2px solid var(--second-bg);
  border-radius: 20px;
  padding: 0 5px;
}

.Light {
  width: 10px;
  height: 10px;
  background-color: var(--primary-color);
  border-radius: 50%;
  margin-right: 5px;
}

.Info-Self {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.Info-Text {
  flex: 1;
  max-width: 50%;
}

.Info-Text h1 {
  font-size: 2rem;
  color: white;
}

.Info-Text p {
  font-weight: 500;
  color: #666;
}

.Info-Img {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  max-width: 50%;
}

.Info-Img img {
  height: 140px;
  width: 140px;
  object-fit: cover;
  border-radius: 50%;
  margin: 3px;
}
.Image-Border{
  height: 150px;
  width: 150px;
  background-color: var(--second-bg);
  border: 2px solid var(--primary-color);
  border-radius: 100%;
}
.Buttons {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  padding-bottom: 20px;
  position: relative;
}
.Buttons p{
  font-size: 1.1rem;
}

.Hire-Me {
  background-color: var(--primary-color); 
  color: white;
  border: 2px solid black;
  padding: 0 10px;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 5px;
  transition: all 0.3s ease;
  box-shadow:
  0 0 20px .1px rgba(225, 0, 255, 0.5), 
  inset 0 3px 1px rgb(230, 120, 252); 
}

.Hire-Me:hover {
  background-color: rgb(230, 120, 252); 
  box-shadow: 0 0 30px .1px  rgb(217, 24, 255); 
}
.Copy-Email {
  background-color: var(--primary-bg);
  color: white;
  border: none;
  padding: 0 10px;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1.5px solid var(--second-bg);
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.Copy-Email:hover {
  background-color: var(--second-color); 
}

.Icon-Button {
  height: 100%;
  margin-left: 10px; 
  display: flex;
  align-items: center;
  padding: 10px 0;
  padding-left: 10px; 
}
.Plus{
  border-left: 2px solid black; 
}
.Email{
  border-left: 2px solid var(--second-bg); 
}

.Icon-Button img {
  width: 20px;
  height: 20px;
}

.Copy-Message {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary-bg);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  animation: fadeOut 2s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}